.table {
  width: 100%;
  margin-top: 50px;
  
  table {
    width: 100%;   
  }

  tr {
    display: flex;
    justify-content: space-between;

    margin-bottom: 20px;
  }

  tbody {
    color: gray;
    font: {
      weight: 300;
      size: 14px;
    }
  }
  
  .table-title {
    padding-bottom: 4px;
    border-bottom: 1px solid  gray;
  }

  .btn-remove {
    @include button($color-secondary, 7px);
    border-radius: 4px;
  }

}